/* Extra small devices (phones, less than 768px) */
html,body {
    background: transparent;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

#mainarea {
    margin: 20px 0;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {

}