<h1 style="padding-top:100px;"><span style="font-weight:300;">Welkom bij de </span> OWASP Workshop</h1>
<p style="margin: 0 0 10px;
  color: white;
  text-align: left;
  max-width:600px; margin:0 auto 50px;">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sit amet neque sit amet orci dictum mattis at sagittis sem. Nunc mollis purus pellentesque nibh vulputate fringilla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum lacinia turpis vitae libero aliquet dictum. Integer ut aliquam sem. Suspendisse porttitor tortor neque, quis sollicitudin massa consequat non. Aenean egestas hendrerit egestas. Maecenas tincidunt leo eu sagittis pretium. Nunc vehicula consectetur leo vitae congue. Suspendisse porttitor imperdiet fermentum.

</p>
<div style="width:600px; margin:0 auto 30px; text-align:left;">
<div ng-click="hideOverlay(); toggleOverlay('overview');" class="btn btn-primary btn-lg">Start</div>
</div>