<div class="browser">
    <header>
        <div class="toolbar">
            <a ng-click="toggleOverlay('overview')" style="float: right; color:inherit; text-decoration:none; cursor:default;
  line-height: 26px;
  font-style: italic;">{{score}} <span style="float:right; margin-left:8px; line-height:24px; font-size:20px;" class="icon-check-circle-o"></span></a>
            <div class="controls" style="padding-left: 6px;">
                <span class="red" ng-click="toggleOverlay('overview')"></span>
                <span class="orange" ng-click="toggleSidebar()"></span>
                <span class="green" ng-click="toggleOverlay('info')"></span>
            </div>
        </div>
        <label class="bar noSelect">
            <div class="icon-chevron-left" style="float:left;line-height: 28px;background: rgb(226, 227, 231);/* height: 113%; */padding: 0 5px;padding-right: 10px;height: 29px;"></div>
            <div class="icon-chevron-right" style="float:left;line-height: 28px;background: rgb(226, 227, 231);height: 100%;padding: 0 5px;padding-left: 5px;padding-right: 10px;height: 29px;color: rgb(82, 88, 100);/* text-shadow: 0px 0px 1px #FFF, 0 0 0 #DADADA, 0px 0px 1px #FFF; */"></div>
            <div class="static" ng-bind="fakeBrowserUrl"></div>
            <div class="input"><input spellcheck="false" ng-model="query" ng-disabled="!login" ng-keyup="queryStringChanged($event)"/></div>
        </label>
    </header>
    <div class="browserContent" style="padding:20px 50px;">
        <div ng-hide="login">
            <h2 style="margin:35px 0; font:100 40px/1 'Roboto', 'Segoe UI', 'Open Sans', Arial;">
            <span class="icon-lock" style="float:left; padding-right:14px;"></span> Login</h2>
            <div class="inloggen">
                <div class="form-group">
                    <label>username</label>
                    <input type="text" class="form-control" ng-disabled="true" ng-model="username">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" ng-disabled="true" ng-model="password">
                </div>
                <button class="btn btn-primary" ng-click="changeLogin()">Inloggen</button>
            </div>

        </div>
        <div ng-show="login && !userNotFound">
            <h2 style="margin:35px 0; font:100 40px/1 'Roboto', 'Segoe UI', 'Open Sans', Arial;">
            <span class="icon-user" style="float:left; padding-right:14px;"></span> Mijn gegevens</h2>
            <ul style="margin-left:20px;">
                <li>{{user.name}}</li>
                <li>{{user.accountNumber}}</li>
                <li>{{user.mail}}</li>
            </ul>
        </div>
        <p class="bg-danger" ng-show="userNotFound">FOUT: Gebruiker kon niet worden gevonden!</p>
        <br>
        <button class="btn btn-primary" ng-show="login" ng-click="changeLogin()">Uitloggen</button>

    </div>
</div>